---
import Layout from "../layout/Layout.astro";
const title = "Tentang Tarjuman";
---

<Layout title={title}>
  <main class="container">
    <h1>{title}</h1>
    <section id="about-content">
      <p>Tarjuman adalah layanan daring (online) yang berfokus pada penyediaan jasa terjemahan tersumpah profesional berkualitas tinggi untuk dokumen yang memerlukan pengesahan resmi.</p>
      <p>Kami berspesialisasi dalam terjemahan antara <strong>Bahasa Indonesia dan Bahasa Arab</strong>.</p>
      <p>Misi kami adalah menjembatani hambatan bahasa bagi individu maupun bisnis dengan menawarkan solusi terjemahan yang tepercaya, akurat, dan mudah diakses. Kami memahami pentingnya dokumen resmi Anda dan berkomitmen untuk menanganinya dengan sangat hati-hati dan penuh kerahasiaan.</p>
      <p>Semua terjemahan dilakukan oleh penerjemah tersumpah yang berpengalaman dan bersertifikat resmi, memastikan keabsahan hukum dan keakuratan dokumen terjemahan Anda.</p>
      <p>Tarjuman berfungsi sebagai platform tepercaya yang menghubungkan Anda dengan penerjemah tersumpah berkualitas untuk memenuhi kebutuhan spesifik Anda.</p>
      <p>Didirikan oleh seorang mahasiswa/i Indonesia yang memiliki semangat tinggi terhadap bahasa dan memfasilitasi komunikasi, Tarjuman bertujuan untuk menyederhanakan proses mendapatkan terjemahan tersumpah.</p>
    </section>
  </main>
</Layout>

<style>
  .container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
</style>