---
import Layout from "../layout/Layout.astro";
import Supabase from "../icons/Supabase.astro";
import AstroIcon from "../icons/AstroIcon.astro";
export const prerender = true;
const title = "Supabase and Astro Demo";
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <ul>
      <li
      >
        <AstroIcon />
      </li>
       &plus;
      <li
      >
        <Supabase />
      </li>
    </ul>
    <p>This page was pre-rendered at build time</p>
  </main>
</Layout>
