---
import Layout from "../layout/Layout.astro";
const title = "Register";
---

<Layout title={title}>
  <main>
    <section>
      <h1>
        {title}
      </h1>
      <p>
        Already have an account? <a
          href="/signin"
          >Sign in</a
        >
      </p>
      <form
        action="/api/auth/register"
        method="post"
      >
        <div>
          <label
            for="email"
            >Email</label
          >
          <input
            id="email"
            type="email"
            name="email"
              />
        </div>
        <div >
          <label
            for="password"
            >Password</label
          >
          <input
            id="password"
            type="password"
            name="password"
               />
        </div>
        <button
          type="submit"
             >Register</button
        >
      </form>
    </section>
  </main>
</Layout>
