---
import Layout from "../layout/Layout.astro";
const title = "Sign in";
---

<Layout title={title}>
  <main >
    <section >
      <h1
          >
        {title}
      </h1>
      <p >
        New to demo? <a
          href="/register"
            >Create an account</a
        >
      </p>
      <form
        action="/api/auth/signin"
        method="post"
          >
        <div class="grid grid-cols-1 gap-2">
          <label
            for="email"
             >Email</label
          >
          <input
            id="email"
            type="email"
            name="email"
             />
        </div>
        <label
          for="password"
            >Password</label
        >
        <input
          id="password"
          type="password"
          name="password"
          />
        <button
          type="submit"
            >Sign In</button
        >
      </form>
      <hr  />
      <p >
        <span >Or with</span>
      </p>
      <form
        action="/api/auth/signin"
        method="post"
        
      >
        <button
          value="github"
          name="provider"
          type="submit"
           >
           Sign in with GitHub</button
        >
        <button
          value="google"
          name="provider"
              type="submit"
        >
           Sign in with Google
        </button>
      </form>
    </section>
  </main>
</Layout>
