---
import BaseLayout from '../layout/Layout.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
const siteTitle = "Tarjuman Admin";
---

<BaseLayout title={`${title} | ${siteTitle}`}>
  <nav class="admin-nav">
    <div class="container">
      <a href="/admin"><strong>{siteTitle}</strong></a>
      <a href="/admin/orders">Manage Orders</a>
      <a href="/api/auth/signout" style="float: right;">Sign Out</a>
    </div>
  </nav>
  <main class="admin-main">
    <div class="container">
      <h1>{title}</h1>
      <slot />
    </div>
  </main>
  <style>
    /* Admin specific styles */
    .admin-nav button:disabled { background-color: #ccc; cursor: not-allowed; }
  </style>
</BaseLayout>